In [2]:
from bs4 import BeautifulSoup
import requests

#Top 250 movies on IMDb
url = "https://www.imdb.com/search/title/?groups=top_250&sort=user_rating"

In [3]:
resp = requests.get(url)

In [4]:
#All info from webpage scraped
soup = BeautifulSoup(resp.text,'html.parser')

In [5]:
#Scraping header: movie title and year
scraped_titles = soup.find_all('h3',{"class":"lister-item-header"})

In [6]:
#Scraping for movie title
movies = []
for x in scraped_titles:
    for y in x.find_all('a'):
        movies.append(y.text)
        
movies[:5]

['The Shawshank Redemption',
 'The Godfather',
 'The Dark Knight',
 'The Godfather: Part II',
 'The Lord of the Rings: The Return of the King']

In [7]:
#Scraping for movie year
years = []
for x in scraped_titles:
    for y in x.find_all('span'):
        years.append(y.text)
        
years = years[1::2]
years[:5]

['(1994)', '(1972)', '(2008)', '(1974)', '(2003)']

In [8]:
a = []
b = []

for i in range(len(years)):
    a.append(years[i].strip("("))
    b.append(a[i].strip(")"))

years = [];

for _ in b:
    years.append(int(_));

years[:5]

[1994, 1972, 2008, 1974, 2003]

In [9]:
#Scraping from muted text, which is where the movie details are stored: rating, time, genres
scraped_details = soup.find_all('p',{"class":"text-muted"})

In [10]:
details = []
for x in scraped_details:
    for y in x.find_all('span'):
        details.append(y.text)

In [11]:
ratings = details[0::5]

In [33]:
t = details[2::5]
time = []
for i in t:
    var = i.strip(" min")
    time.append(var)

In [13]:
g = details[4::5]
genres = []
for i in range(len(g)):
    genres.append(g[i].strip())
genres[:5]

['Drama',
 'Crime, Drama',
 'Action, Crime, Drama',
 'Crime, Drama',
 'Adventure, Drama, Fantasy']

In [56]:
#Scraping from ratings bar
scraped_ratings_bar = soup.find_all('div',{"class":"ratings-bar"})
s = []
for x in scraped_ratings_bar:
    for y in x.find_all('div',{"class":"inline-block ratings-imdb-rating"}):
        s.append(y.text)
stars = []
for i in s:
    stars.append(i.strip("\n"))

In [40]:
#Scraping from num votes, which is where votes and gross $ are stored
scraped_nums = soup.find_all('p',{"class":"sort-num_votes-visible"})
nums = []
for x in scraped_nums:
    for y in x.find_all('span'):
        nums.append(y.text)
        
import numpy as np
nums = np.array(nums)

In [58]:
m = []
for x in scraped_ratings_bar:
    for y in x.find_all('div',{"class":"inline-block ratings-metascore"}):
        m.append(y.text)
metascore = []

for i in range(len(m)):
    metascore.append(int(((((((m[i].strip("\n")).strip(" ")).strip("\n")).strip("Metascore")).strip(" ")).strip("\n")).strip(" ")))

In [44]:
searchval = "Votes:"
ind = np.where(nums == searchval)[0]+1
votes = nums[ind]

In [49]:
searchval = "Gross:"
ind = np.where(nums == searchval)[0]+1
gr = nums[ind]
gross = []

for i in range(len(gr)):
    a = gr[i].strip("$")
    gross.append(a.strip("M"))

In [59]:
import pandas as pd
df = pd.DataFrame([movies,years,ratings,time,genres,stars,metascore,votes,gross]).transpose()
df.columns = ['Movie', 'Year', 'Rating', 'Duration (min)', 'Genres','Stars','Metascore','Votes','Gross ($M)']
df.head()

,Movie,Year,Rating,Duration (min),Genres,Stars,Metascore,Votes,Gross ($M)
0,The Shawshank Redemption,1994,R,142,Drama,9.3,80,"2,158,341",28.34
1,The Godfather,1972,R,175,"Crime, Drama",9.2,100,"1,481,200",134.97
2,The Dark Knight,2008,PG-13,152,"Action, Crime, Drama",9.0,84,"2,133,002",534.86
3,The Godfather: Part II,1974,R,202,"Crime, Drama",9.0,90,"1,031,298",57.30
4,The Lord of the Rings: The Return of the King,2003,PG-13,201,"Adventure, Drama, Fantasy",8.9,94,"1,532,690",377.85